.LightBoxContainer {
    width: auto;
    height: 85vh;
    background-color: #f7a52bb6;
    padding-top: 15vh;
    padding-left: 15vw;
}

#contentL {
    width: 70vw;
    height: 70vh;
    background-color: white;
}

.ExitButton {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    height: 10vh;
    border: 0;
    background-color: #dd8d14;
    padding-right: 3vw;
    padding-left: 3vw;
    font-size: 3vmin;
    font-weight: bold;
    font-family: "MavenPro";
}

.ExitButton:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.247);
    cursor: pointer;
}

.imageL {
    margin: 0 auto;
    height: 70vh;
    width: 70vw;
}

.imageRL {
    margin: 0 auto;
    height: 70vh;
    width: 70vw;
}

.carousel {
    display: flex;
    justify-content: center;
    height: 65vh;
}

.carousel .slide {
    padding-top: 4vh;
}

@media (max-height: 800px) and (max-width: 400px) {
    .imageL {
        margin: 0;
        height: 30vh;
        width: 30vw;
        cursor: pointer;
    }
    
    .imageRL {
        height: 30vh;
        width: 30vw;
        cursor: pointer;
        margin-left: 5vw;
    }
}