.Section1 {
    height: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5%;
}

.Section1 p {
    padding-top: 5vh;
    font-weight: bold;
    font-size: 6vmin;
    padding-bottom: 4vh;
    font-family: "MavenPro";
}

.carousel {
    display: flex;
    justify-content: center;
    height: 100%;
    
}

.carousel .slide {
    height: 100%;
}

.carousel .slide img{
    max-height: 100%;
    width: auto;
}

.image {
    margin: 0 auto;
    height: 70vh;
    width: 70vw;
    cursor: pointer;
}

.imageR {
    margin: 0 auto;
    height: 70vh;
    width: 70vw;
    cursor: pointer;
}

#hr1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ce800b;
}

@media (max-height: 800px) and (max-width: 400px) {
    .image {
        margin: 0;
        height: 30vh;
        width: 30vw;
        cursor: pointer;
    }
    
    .imageR {
        height: 30vh;
        width: 30vw;
        cursor: pointer;
        margin-left: 10vw;
    }
}